@keyframes scale {
  from {
    scale: 1;
  } 

  to {
    scale: 1.25;
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.contour {
  transition: 0.1s linear;
}

.main-body {
  transition: 0.3s linear;
}

.like-icon:hover .core{
  fill: var(--color-black);
  transition-delay: 0s;
}

.like-icon:hover .main-body{
  fill: var(--color-black);
  transition-delay: 0.05s;
}

.like-icon:active .core{
  fill: var(--color-sparks);
  transition-delay: 0s;
}

.like-icon:active .main-body{
  fill: var(--color-sparks);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition: fill 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in 0.3s;
}