:root {
  --main-font: 'Inter';
  --second-font: 'PressStart2P';

  --gradient-1: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px);
  --gradient-2: repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px );
  --gradient-3: linear-gradient(to bottom, #e7e7e7, #1a1a1a);

  --color-sparks: #f00;
  --color-contour: #000;
  --color-black: #000;
  --color-white: #fff;

  --border: 2px solid #000; 
  
}